<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/sorttable.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>
    </head>
    <body>
        <h1>City List</h1>
        <table class="sortable" id="displayTable">
            <thead>
                <th>City</th>
                <th>Temperature</th>
                <th>Sunrise (GMT+0000)</th>
                <th>Sunset (GMT+0000)</th>
            </thead>
            <tbody>
                {{#each cities}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this.temperature}}</td>
                        <td>{{this.sunrise}}</td>
                        <td>{{this.sunset}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div style="width:500px; height:500px;">
            <canvas id="myChart" width="100" height="100"></canvas>
        </div>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d')
        ctx.canvas.widht=100;
        ctx.canvas.height=100;
        const nCities = document.getElementById('displayTable').rows;
        var table_data = {'cities':[], 'temperatures':[]}
        for (i=1; i < nCities.length; i++) {
            table_data['cities'].push(nCities.item(i).cells.item(0).innerHTML)
            table_data['temperatures'].push(nCities.item(i).cells.item(1).innerHTML)
        }
        const myChart = new Chart(ctx, {
            type: 'bar',
            yAxisID: 'Temperatures',
            xAxisID: 'Cities',
            data: {
                labels: table_data['cities'],
                datasets: [{
                    label: 'Cities Temperatures (ºC)',
                    data: table_data['temperatures'],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        <button id="goBack" onclick="window.location.replace(`http://localhost:3000/`)">Go back</button>
    </body>
</html>